.navbar {
    display: flex;  
    background-color: navy;
    width: 100%;
}

.navbar > h1 {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    color: white;
    
}

.navbar-list {
    display: flex;
    list-style: none;
    margin-right: .2cm;
    
}

.navbar-list > li {
    margin: 5px 0px 0px 10px;
    color: white;
    text-decoration: none;
    
}

.navbar-links {
    color: white;
}

.nav-home{
    background-color: navy;
    box-shadow: none;
    border: none;
    margin-right: 1%;
    color: white;
}
